body{
  background:white url(./images/10086.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

header{
  background-color: white;
  /* margin: 0px;
  padding: 0px; */
  height: 51px;
}

.logo{
  margin-top: 11px;
  margin-left: 14px;
  width: 88px;
}

.head-t{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.h-1{
  position: relative;
  top: -9px;
  left: 10px;
}
.h-2{
  position: relative;
  top: -9px;
  left: 43px;
}
.h-3{
  position: relative;
  top: -9px;
  left: 76px;
}

.input-t{
  position: absolute;
  top: 11px;
  right: 83px;
  width: 415px;
  height: 1.53vw;
  border: 1.5px rgba(221, 221, 221, 0.837) solid;
  border-radius: 100px;
}

input::placeholder{
  color: rgba(161, 159, 159,0.7);
  position: relative;
  top: 1px;
  left: 22px;
}

.touxiang{
  border: 2px rgba(221, 221, 221, 0.637) solid;
  border-radius: 100px;
  float: right;
  width: 32px;
  position: absolute;
  top: 7px;
  right: 35px;
}
